<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="/home/tommasostocchi/.aspire/hives/pr-16846/packages" value="/home/tommasostocchi/.aspire/hives/pr-16846/packages" />
    <add key="https://api.nuget.org/v3/index.json" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="/home/tommasostocchi/.aspire/hives/pr-16846/packages">
      <package pattern="Aspire*" />
    </packageSource>
    <packageSource key="https://api.nuget.org/v3/index.json">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>